button{
    color:white;
    margin-left: 5px;
    background-color: #3f51b5;
    border: none;
    cursor: pointer;
    padding: 6px;
    margin-top: 4px;
    margin-right: 5px;
    font-size: 15px;

}
button:hover{
    background-color: #303c81;
}

button.active{
    font-weight: 600;
  
}