<div style="min-height: 91vh; padding: 30px;" *ngIf="questions">
    <div>
        <div class="container">
            <ng-container *ngIf="questions.length === 0; else questionList"> <mat-card class="empty-message">
                    <mat-card-content>
                        <mat-icon>sentiment_dissatisfied</mat-icon>
                        <p>No questions_found.</p>
                    </mat-card-content>
                </mat-card>
            </ng-container>
            <ng-template #questionList>
                <div class="child" *ngFor="let question of questions">
                    <h2 class="question-title">
                        <a routerLink="/user/question/{{question.id}}">{{ question.title }}</a>
                    </h2>
                    <div class="question-content">
                        <p> {{ question.body }} </p>
                        <div class="tags-container">
                            <mat-chip-listbox>
                                <mat-chip *ngFor="let tag of question.tags"> 
                                    <div (click)="searchWithTag(tag)">{{tag}}</div>
                                </mat-chip>
                            </mat-chip-listbox>
                        </div>
                        <hr>
                        <h5>
                            Posted By: <b> {{question.userName}} </b>
                            Posted On: <b> {{ question.createdDate | date }} </b>
                        </h5>
                    </div>
                    <div class="edit-delete-button" *ngIf="question.isQuestionEditable">
                        <button mat-raised-button color="primary" routerLink="/user/edit/question/{{question.id}}">Edit</button>
                        <button *ngIf="question.isQuestionDeletable" mat-raised-button color="primary" (click)="deleteQuestion(question.id)">Delete</button>
                    </div>
                    <!-- <div *ngIf="question.isQuestionEditable">
                        <button mat-raised-button color="primary" (click)="deleteQuestion(question.id)">Delete</button>
                    </div> -->
                </div>
            </ng-template>

            <div class="pagination">
                <mat-paginator [length]="total" [pageIndex]="pageNum" [pageSize]="5"
                    (page)="pageIndexChange($event)"></mat-paginator>
            </div>
        </div>
    </div>
</div>