<div class="forgotten-password-container">
    <mat-card class="forgotten-password-card">
        <mat-card-content>
            <h2 class="forgotten-password-caption">Find Your Account</h2>
            <form [formGroup]="loginForm">
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" name="email" type="email"
                            formControlName="email">
                    </mat-form-field>
                </div>
                <button type="submit" mat-raised-button color="primary" class="submit-button"
                    [disabled]="loginForm.invalid" (click)="submitEmail()">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>