<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <div>
  <mat-form-field>
    <mat-label>Enter current password</mat-label>
    <input
      type="password"
      matInput
      [(ngModel)]="data.oldPassword"
      required="true"
    />
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Enter new password</mat-label>
    <input
      type="password"
      matInput
      [(ngModel)]="data.newPassword"
      required="true"
    />
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Confirm new password</mat-label>
    <input
      type="password"
      matInput
      [(ngModel)]="data.confirmPassword"
      required="true"
    />
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    *ngIf="isValidInput()"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
