input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    min-width: 40%;
}

@media screen and (max-width: 600px) {
    input[type=text],.button-submit{
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    input[type=text] {
        border: 1px solid #ccc;
    }
}

button {
    float: right;
    color: white;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
.button-submit{
    background: #a6a5a5;
}
button:hover{
    background-color: #303c81;
   
}
.search-container {
    display: flex;
    align-items: center;
  }
  
.search-input {
    margin-right: 10px; 
  }
  