<div *ngIf="!isUserLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">EMS Discussion Portal</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active">Log In</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Sign Up</button>
    
  </mat-toolbar>
</div>
<div *ngIf="isUserLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand" routerLink="/user/dashboard" routerLinkActive="active">EMS Discussion Portal</span>
    <span class="spacer"></span>
    <button [ngClass]="{'user-tab-admin': isVisible(),'user-tab-standard': !isVisible()}" mat-button routerLink="user/users" routerLinkActive="active">Users</button>
    <app-search-bar></app-search-bar>
    <button mat-button routerLink="/user/askedByMe" routerLinkActive="active">Asked By Me</button>
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/user/question" routerLinkActive="active">Post Question</button>
    <button mat-button [matMenuTriggerFor]="menu"> <i class="fas fa-user"></i> </button>
    <mat-menu #menu="matMenu">
      <h1 class="heading-my-profile">My Profile</h1>
      <hr>
      <div *ngIf="user" class="user-email">{{user.email}}</div>
      <hr>
      <a mat-menu-item (click)="popUpForChangeUserName()">Change Username</a>
      <a mat-menu-item (click)="popUpForChangePassword()">Change Password</a>
      <a mat-menu-item (click)="logout()" routerLinkActive="active">Log Out</a>
    </mat-menu>
    <!-- <button mat-button (click)="logout()" routerLinkActive="active">Log Out</button> -->
  </mat-toolbar>
</div>
<router-outlet></router-outlet>