<div class="login-container">
    <mat-card class="login-card">
        <mat-card-content>
            <h2 class="login-caption">Log In</h2>
            <form [formGroup]="loginForm">
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" name="email" type="email"
                            formControlName="email">
                    </mat-form-field>
                </div>
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" name="password" type="password" required
                            formControlName="password"> </mat-form-field>
                </div>
                <button type="submit" mat-raised-button color="primary" class="login-button"
                    [disabled]="loginForm.invalid" (click)="login()">Log In</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>