.upvote-container {
    display: flex;
    align-items: center;
  }
  
  .upvote-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex; 
    align-items: center; 
  }
  
  .upvote-icon {
    font-size: 1em;
    margin-right: 0.5em; 
    color: gray;
  }

  .upvoted-icon {
    font-size: 1em;
    margin-right: 0.5em; 
    color: rgb(63, 81, 181);
  }
  
  .upvote-count {
    font-size: 1.2em; 
  }