<div class="reset-password-container">
  <mat-card class="reset-password-card">
    <mat-card-content>
      <h2 class="reset-password-caption">Create New Password</h2>
      <form [formGroup]="resetForm">
        <div class="form-input">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter your email"
              name="email"
              type="email"
              formControlName="email"
              [readonly]="true"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter New Password</mat-label>
            <input
              matInput
              placeholder="Enter New Password"
              name="password"
              type="password"
              formControlName="password"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              placeholder="Confirm Password"
              type="password"
              name="confirmPassword"
              formControlName="confirmPassword"
            />
          </mat-form-field>
        </div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="submit-button"
          [disabled]="resetForm.invalid || resetForm.disabled"
          (click)="resetPassword()"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
